@media (max-width: 600px) {
  .background--two {
    height: 1400px;
    .block-section--two {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-top: calc(10px - 60px);
      & p {
        text-align: center;
        margin-left: 0;
        margin-top: 40px;
      }
      & img {
        margin: 0 auto;
        max-width: 60%;
      }
    }
  }
  .footer-contain {
    margin-top: calc(10px - 210px);
  }
}
